@import "materialize";

body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

main {
  flex: 1 0 auto;
}

.card{
  min-height: 200px;
}
.submit-btn {
  background-color: #ee6e73;
}